# Node modules
node_modules/

# Environment variables
.env

# Logs & Debug files
logs/
*.log
npm-debug.log*
yarn-debug.log*

# OS & Editor-specific files
.DS_Store
Thumbs.db
*.swp
*.swo

# Build files
dist/
build/
